* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(254, 255, 238);
}
header {
  top: 0;
  width: 100%;
  padding: 15px;
  z-index: 1;
}
h1 {
  text-align: center;
  padding: 20px;
  border: 4px solid black;
  border-style: double;
  background: linear-gradient(to right, #fc354c, #0abfbc);
}
.detail {
  margin: 10px;
}
.head {
  margin: 20px;
  text-align: center;
}
.container {
  margin: 20px;
}

/*Transition CSS*/
#box {
  display: flex;
  height: 100px;
  width: 100px;
  background: linear-gradient(to right, #159957, #155799);
  border: 2px solid black;
  margin: 20px;
  transition: all 1s ease-in-out 0.3s;
}
#box:hover {
  background: linear-gradient(to right, #fc354c, #0abfbc);
  height: 200px;
  width: 200px;
  border-radius: 300px;
}

#circle {
  display: flex;
  height: 100px;
  width: 100px;
  background: linear-gradient(to right, #159957, #155799);
  border-radius: 300px;
  border: 2px solid black;
  margin: 20px;
  transition: all 1s ease 0.3s;
}
#circle:hover {
  background: linear-gradient(to right, #fc354c, #0abfbc);
  height: 200px;
  width: 200px;
  border-radius: 0;
}

/*Transform CSS*/
#box1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b);
  border: 2px solid black;
  border-radius: 8px;
  height: 200px;
  width: 200px;
  transition: all 2s ease-in-out;
}

#box1:hover {
  /* transform: rotate(360deg); */
  /* transform: skew(40deg); */
  transform: scale(2);
  /* transform: translateX(123px); */
  /* transform: translateY(123px); */
  transform: translate(500px, 0px);
  background: linear-gradient(to right, #fc354c, #0abfbc);
}

#parallelo {
  margin: 40px;
  width: 200px;
  height: 200px;
  transform: skew(20deg);
  background: linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b);
  transition: all 1.5s ease-in-out;
}
#parallelo:hover {
  /* transform: skew(30deg); */
  transform: rotate(30deg);
  background: linear-gradient(to right, #fc354c, #0abfbc);
}
